
beautifulsoup4
Biopython
nameparser
mechanize
nose
PyPDF2
pyquery
requests

# From GitHub
-e git+https://github.com/CenterForOpenScience/modular-odm@develop#egg=modular-odm
-e git+https://github.com/jmcarp/sciscrape#egg=sciscrape
-e git+https://github.com/euske/pdfminer#egg=pdfminer

# Scientific stack
numpy
scipy
pandas
matplotlib
patsy
statsmodels
seaborn

