<div class="page-header">
    <h2>What is NeuroTrends?</h2>
</div>

<p>
    Every year, scientists publish thousands of articles detailing new advances in
    human brain imaging research, using ever more sophisticated data collection and analysis
    techniques. But without reading the methods section of all of those articles, there's
    practically no way to understand the state of the art in neuroscience methods, and
    whether scientists are making sound methodological choices.
</p>

<p>
    Why does this matter? Reproducibility lies at the heart of scientific progress, and it's
    almost impossible to achieve reproducible results without understanding the methods that
    scientists use to uncover new findings. Understanding decisions in research methods is
    also important for evaluating research quality: Are scientists using the best methods
    available? Do they choose methods that favor positive results?
</p>

<p>
    NeuroTrends attempts to answer these questions by extracting and analyzing methodological
    information from thousands of published studies across the functional neuroimaging
    literature. NeuroTrends currently offers <a href="#/search">searching</a> articles by
    methodological choices, <a href="#/trends/tags">visualization</a> of methods trends over
    time, and <a href="#/tools/extract">extraction</a> of methods information from text.
</p>

<p>
    NeuroTrends is developed and maintained by <a href="mailto:{{ address }}">Joshua Carp</a>.
</p>
