<div class="jumbotron">

    <h1>NeuroTrends</h1>

    <p class="lead">
        Uncovering methodological trends in Functional MRI research
    </p>
</div>

<div class="row marketing">

    <p class="lead text-center" ng-show="statsLoaded">
        Now including {{ stats.numTags | number }} methodological details about {{ stats.numArticles | number }} articles, 
        published between {{ stats.firstYear }} and {{ stats.lastYear }}
    </p>

    <h4>Search</h4>
    <p>
        <a ng-href="#/search">Search</a> for articles by title, authors, and methods.
    </p>

    <h4>Explore</h4>
    <p>
        Interactive visualizations of methodological parameters <a ng-href="#/trends/tags">over time</a>,
        <a ng-href="#/trends/authors">by author</a>, and more.
    </p>

    <h4>API</h4>
    <p>
        All data for NeuroTrends are programmatically accessible through a simple
        <a ng-href="#/api">application programming interface</a>. It's simple to re-analyze the data
        or integrate with your own application.
    </p>

</div>

