<form
        role="form"
        name="searchForm"
        class="form-horizontal"
        ng-submit="submit(searchForm)"
    >

    <div class="form-group">
        <label for="searchTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-6">
            <input class="form-control" id="searchTitle" ng-model="params.title" />
        </div>
    </div>

    <div class="form-group">
        <label for="searchJournal" class="col-sm-2 control-label">Journal</label>
        <div class="col-sm-6">
            <input class="form-control" id="searchJournal" ng-model="params.journal" />
        </div>
    </div>

    <div class="form-group">
        <label for="searchDoi" class="col-sm-2 control-label">DOI</label>
        <div class="col-sm-6">
            <input class="form-control" id="searchDoi" ng-model="params.doi" />
        </div>
    </div>
    <div class="form-group">
        <label for="searchPmid" class="col-sm-2 control-label">PMID</label>
        <div class="col-sm-6">
            <input class="form-control" id="searchPmid" ng-model="params.pmid" />
        </div>
    </div>

    <div class="form-group">
        <label for="searchAuthors" class="col-sm-2 control-label">Authors</label>
        <div class="col-sm-6">
            <tags-input
                    id="searchAuthors"
                    ng-model="authors"
                    display-property="label"
                    placeholder="Add an author"
                    replace-spaces-with-dashes="false"
                >
            </tags-input>
        </div>
    </div>

    <div class="form-group">
        <label for="searchTags" class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-6">
            <tags-input
                    id="searchTags"
                    ng-model="tags"
                    min-length="2"
                    display-property="label"
                    placeholder="Add a tag"
                    add-from-autocomplete-only="true"
                >
                <auto-complete
                            source="Tag.list({label: $query})"
                            min-length="2"
                    ></auto-complete>
            </tags-input>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    class="btn"
                    type="submit"
                    ng-disabled="status.disableSubmit"
                    ng-class="{
                        'btn-primary': !status.disableSubmit,
                        'btn-default': status.disableSubmit,
                    }"
                >Submit</button>
        </div>
    </div>

</form>

<div ng-show="status.loading" class="h1">
    <i class="fa fa-spinner fa-spin"></i>
    <span>Loading...</span>
</div>
<div ng-show="status.noResults">
    <h3>No results found</h3>
</div>
<div ng-show="results.articles.length">
    <h3>
        Showing results {{ paging.pageStart | number }} to {{ paging.pageEnd | number }} of {{ results.numResults | number }}
    </h3>
    <div ng-repeat="result in results.articles">
        <search-result result="result"></search-result>
    </div>
</div>

<pagination 
        direction-links="false" 
        total-items="results.numResults" 
        items-per-page="paging.pageSize"
        boundary-links="true"
        max-size="paging.maxSize"
        rotate="false"
        ng-model="paging.currentPage" 
        ng-change="setPage()"
        ng-show="status.showPaging"
    ></pagination>

