<ul>
    <li><a href="#trends/tags/?label=spm&label=fsl&label=afni&label=voyager">Analysis packages</a></li>
    <li><a href="#trends/tags/?label=stc&label=realign&label=coreg&label=strip&label=tempsmoo&label=spatsmoo">Pre-processing methods</a></li>
    <li><a href="#trends/tags/?label=bon&label=fwe&label=fdr&label=alphasim&label=tfce">Multiple comparison corrections</a></li>
</ul>

<h3 ng-show="!tags.length">
    Add tags to view trends over time
</h3>

<tags-input
        id="searchTags"
        ng-model="tags"
        min-length="2"
        display-property="label"
        add-from-autocomplete-only="true"
    >
    <auto-complete
                source="Tag.list($query)"
                min-length="2"
        ></auto-complete>
</tags-input>

<div ng-show="tags.length">
    <a ng-href="{{ permalink }}">Permalink</a>
</div>

<div ng-show="series.length">
    <!-- See https://github.com/cmaurer/angularjs-nvd3-directives/issues/49 -->
    <nvd3-line-chart
            data="series"
            height="600"
            showXAxis="true"
            showYAxis="true"
            yAxisTickFormat="yAxisTickFormat"
            showLegend="true"
            interactive="true"
            tooltips="true"
            objectEquality="true"
        ></nvd3-line-chart>
</div>

