{% extends "base.html" %}

{% block style %}

.carousel {
  width: {{ imgdim }}px;
  height: {{ imgdim }}px;
}

.carousel-inner {
  text-align: center;
}

.carousel .item > img {
  display: inline-block;
}

{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span1"></div>
<div id="carousel" class="carousel slide span10" data-interval="false">
  <!-- Carousel items -->
  <div id="carousel-inner" class="carousel-inner">
    {% for img in imgs %}
      {% if loop.first %}
      <div class="active item">
      {% else %}
      <div class="item">
      {% endif %}
        <img src="/static/img/{{ gallery_name }}/{{ img }}" width="{{ imgdim }}" height="{{ imgdim }}" />
      </div>
    {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>
</div>

{% endblock %}
